.bottombarChat, .newChat__button {
    height: 100%;
    line-height: inherit;
    letter-spacing: inherit;
    font-size: initial;
    text-transform: none;
}

.bottombar__chatsWrapper {
    display: flex;
}

.bottombarChat__roomName, .MuiButton-label {
    line-height: inherit;
    letter-spacing: inherit;
    font-size: initial;
    text-transform: none;
}

.MuiButton-root.newChat__button:hover {
    background-color: #50b7f5;
}