.weather {
    flex: .9;
    display: flex;
    flex-direction: column;
    align-items: center;

    .weather__header {
        display: flex;

    }
}

.notWeather {
    flex: .9;
    display: flex;
    justify-content: center;
}