$light-gray-color: #e9e9e9;

.sidebar-container {
    border-right: 1px solid $light-gray-color;
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;

    .route-link-wrapper, .current-date {
        width: 100%;
        transition: background-color .22s linear;
        cursor: pointer;
        border-bottom: 1px solid $light-gray-color;

        &:hover {
            background-color: $light-gray-color;
        }

        &:active {
            background-color: rgba($color: $light-gray-color, $alpha: .5);
        }

        .route-link, .current-date_date {
            padding-left: 10px;
        }
    }
}