@import '../../mixins/userAvatar.scss';
@import '../../mixins/inputAndButton.scss';

.chatBox {
    border-bottom: 8px solid #ccc;

    & > form {
        display: flex;
        flex-direction: column;

        .chatBox__input {
            display: flex;
            padding: 20px;

            & > input {
                @include input-field;
            }

            .chatBox__userAvatar {
                @include user-avatar;
            }
        }

        .chatBox__sendMessageBtn {
            @include send-button;
        }
    }
}