.generalChat {
    flex: .9;
    height: 100%;

    .generalChat__header {
        background-color: white;
        border: 1px solid #eee;
    }

    // TODO add adaptive height 
    .generalChat__postsWrapper {
        max-height: 60vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        /* hide scrollbar for Firefox, IE and Edge */
        & {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .generalChat__posts {
            display: flex;
            flex-direction: column;
        }
    }
}