@import '../../../mixins/userAvatar.scss';

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;
    padding: 0 50px;

    .head-datetime-container {
        display: flex;
        align-items: flex-end;
        cursor: default;
        text-align: center;

        .current_day {
            font-size: 1.5rem;
            padding-right: 10px;
        }
    }

    .head-page {
        text-align: center;
    }

    .head-user {
        display: flex;
        align-items: center;
        width: 373px;

        .user__name-wrapper {
            display: flex;
            flex-direction: row-reverse;

            .user__avatar {
                @include user-avatar;
            }

            .user__name {
                margin: 0;
                font-weight: bold;
                font-size: 25px;
                cursor: pointer;
                margin-left: 25px;
            }

            .user__name-input {
                font-size: 25px;
                outline: none;
                padding: 2px 5px;
                border-radius: 9px;
                border: 1.5px solid #ccc;
                width: 200px;
            }

            .name-input {
                margin-left: 10px;
            }
        }

        .user_submit-btn {
            margin-left: 20px;
            height: 36px;
            background-color: initial;
            border: 1px solid #ccc;
            border-radius: 7px;
            cursor: pointer;
        }
    }

    .MuiButton-root.newChat__button:hover {
        background-color: #50b7f5;
    }

    .user__logoutBtn {
        // margin-left: 30px;
        height: 80%;
    }
}